<div class="row">
  <nav class="navbar navbar-light col-md-3">
    <ul class="nav navbar-nav left-buffer">
      <li *ngFor="let student of Studenti" class="nav-item">
        <a [routerLink]="['/details',student.Indeks]"
           class="nav-link"
           routerLinkActive="active">
          {{student.Name}} {{student.Prezime}}
        </a>
      </li>
    </ul>
  </nav>
  <div [routerLink]="['/new']" class="col-md-3">
    <button class="btn btn-xs btn-primary">
    Create
    </button>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
